<launch>

  <!-- <arg name="fcu_url" value="/dev/ttyTHS2:921600"/> -->
  <!--   <arg name="fcu_url" value="/dev/ttyUSB0:57600"/> -->
  <arg name="fcu_url" value="/dev/ttyTHS2:921600"/>

  <arg name="gcs_url" default=""/>
  <arg name="tgt_system" default="1"/>
  <arg name="tgt_component" default="1"/>
  <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml"/>
  <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml"/>
  <arg name="log_output" default="screen" />
  <arg name="fcu_protocol" default="v2.0" />
  <arg name="respawn_mavros" default="false" />
  
  <!-- Launch mavros -->
  <node pkg="mavros" type="mavros_node" name="mavros" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg log_output)" respawn="$(arg respawn_mavros)">
    <param name="fcu_url" value="$(arg fcu_url)" />
    <param name="gcs_url" value="$(arg gcs_url)" />
    <param name="target_system_id" value="$(arg tgt_system)" />
    <param name="target_component_id" value="$(arg tgt_component)" />
    <param name="fcu_protocol" value="$(arg fcu_protocol)" />

    <!-- load blacklist, config -->
    <rosparam command="load" file="$(arg pluginlists_yaml)" />
    <rosparam command="load" file="$(arg config_yaml)" />
  </node>

	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
		<!-- <param name="stream_mode" value="ClientPull" type="str" /> -->
		<param name="datastream_hostport" value="192.168.0.55:801" type="str" />
		<!-- <param name="datastream_hostport" value="192.168.0.144:801" type="str" /> -->
		<!-- <param name="datastream_hostport" value="vicon:801" type="str" /> -->
		<param name="tf_ref_frame_id" value="/world" type="str" />
		</node>


  <node name="mocap_bridge_vicon" pkg="mocap" type="mocap_bridge_vicon" output="screen" />
    <!--param name="uav_name" value="martianVI" /-->
    <param name="uav_name" value="kakao" />
    <param name="estimator_type" type="int" value="2" /> <!-- Parameter to set the estimator type. LPE:0, EKF2:1, LPE+EKF2=2. -->



</launch>
